---
layout: default
---
<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</header>

<span class="time">{{ page.date | date_to_string }}</span>
{% if page.categories %}
  <span class="categories">
    &raquo; {% for category in page.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}
  </span>
{% endif %}

<div class="content">
  <div class="post">{{ content }}</div>
  {% include share-page.html %}
</div>

{% assign hasSimilar = '' %}
  {% for post in site.posts  %}
    {% assign postHasSimilar = false %}
      {% for tag in post.categories %}
        {% for thisTag in page.categories %}
          {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
            {% if hasSimilar.size == 0 %}
            <div class="panel-body">
              <h4>Related Posts</h4>
              <ul>
            {% endif %}
                <li class="relatedPost">
                  <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                  {% if post.categories %}
                    (Categories: {% for category in post.categories %}<a href="/category/{{ category }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %})
                  {% endif %}
                </li>
          {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
          {% assign postHasSimilar = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% if hasSimilar.size > 0 %}
  </ul>
</div>
{% endif %}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
{% include mathjax.html %}
{% include disqus.html %}
